.form-actions  button {
        margin: 4px;
    }

    .container-fluid {
        margin: auto;
        text-align: center;
        margin-top: 200px;
        }


    .route-button {
        width: 200px;
        display: inline-block;
        height: 100px;
        border: 1px solid #eebb49;
        text-align: center;
        vertical-align: bottom;
        margin-left: 10px;
        padding-top: 20px;
        font-size: 30px;
        background-color: #e7e7e6;
        text-decoration: none;
        color: orange;
    }

    .route-button:hover {
        background-color: #ececd4;
    }